<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.administrator.tradestock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.BascActivity" />
        <activity android:name=".activity.BaseMethodActivity" />
        <activity android:name=".activity.MyMoenyListActivity" />
        <activity android:name=".activity.TradeListActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.AlterPasswordActivity" />
        <activity android:name=".activity.CompanyDefinedActivity" />
        <activity android:name=".activity.BandBankCardActivity" />
        <activity android:name=".activity.RealNameActivity"></activity>
        <activity android:name=".activity.BandBankCardListActivity"></activity>
        <activity android:name=".activity.NoticeActivity"></activity>
    </application>

</manifest>